.head-content {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #ffffff;
  background-color: #141d2f;
  z-index: 100;
  > .flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1920px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  height: 600px;
}

.mobile-navbar {
  display: none;
  margin-right: 90px;
  height: 32px;
  width: 32px;
  background-image: url('/assets/images/icons/burger-menu.png');
  background-position: center;
  background-repeat: no-repeat;
  transition: all 125ms ease-in-out;
  &:hover {
    cursor: pointer;
    background-image: url('/assets/images/icons/burger-menu-trans.png');
  }
  @media (max-width: 1110px) {
    display: flex;
  }
  @media (max-width: 900px) {
    margin-right: 48px;
  }
  @media (max-width: 520px) {
    margin-right: 24px;
  }
  @media (max-width: 450px) {
    height: 30px;
    width: 26px;
  }
  
}

.navbar {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(20, 29, 47, 0.8);
}

.d-none {
  display: none !important;
}

.bar-slideIn {
  animation: slideIn 0.2s ease-in;
}
.bar-slideOut {
  animation: slideOut 0.2s forwards;
}

@keyframes slideIn {
  from {
    left: 1100px;
  }
  to {
    left: 0;
  }
}

@keyframes slideOut {
  from {
    left: 0;
  }
  to {
    left: 1100px;
  }
}

.fade-out {
  animation: fadeOut 0.2s forwards;
}

.fade-in {
  animation: fadeIn 0.1s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
