<section ontouchmove id="portfolio" class="pf-section fontfam-poppins">
  <div class="purple-container">
    <img
      class="purple-desktop"
      src="/assets/images/shapes/purple_shadow_pf.png"
    />
  </div>
  <div class="pf-header">
    <div class="pf-header-transition-cont">
      <div class="pf-head-transition">
        <div data-aos="flip-up" data-aos-anchor-placement="bottom-bottom"></div>
        <h2 data-aos="flip-up" data-aos-anchor-placement="bottom-bottom">
          Portfolio
        </h2>
      </div>
      <img
        class="purple-mobile"
        src="/assets/images/shapes/purple_shadow_pf.png"
      />
    </div>
    <div class="p-wrapper">
      <p data-aos="flip-up">
        {{ lService.portfolio["samplePhrase1"] }} <br />
        {{ lService.portfolio["samplePhrase2"] }}
      </p>
    </div>
  </div>
  <div class="cards-wrapper">
    <div class="cards-wrapped">
      <div class="portfolio-cards">
        <div
          data-aos="zoom-in-up"
          class="projects-cards"
          *ngFor="let project of projects"
        >
          <img src="{{ project.image }}" />
          <div class="overlay">
            <div class="git-live-link">
              <div class="git-live-link-cont">
                <a
                  class="git-link"
                  href="{{ project.gitLink }}"
                  [target]="'_blank'"
                  >Github</a
                >
                <a
                  class="live-link"
                  href="{{ project.liveLink }}"
                  [target]="'_blank'"
                  >Live test</a
                >
              </div>
              <div class="old-version" *ngIf="project.oldVersionLink">
                <a
                  [target]="'_blank'"
                  *ngIf="lService.selectedLanguage.language === 'en'"
                  class="live-link"
                  href="{{ project.oldVersionLink }}"
                  >Previous version</a
                >
                <a
                  [target]="'_blank'"
                  *ngIf="lService.selectedLanguage.language !== 'en'"
                  class="live-link"
                  href="{{ project.oldVersionLink }}"
                  >Vorherige Version</a
                >
              </div>
            </div>

            <div class="pf-info-cont">
              <h4>{{ project.title }}</h4>
              <p *ngIf="lService.selectedLanguage.language === 'en'">
                {{ project.descEN }}
              </p>
              <p *ngIf="lService.selectedLanguage.language === 'de'">
                {{ project.descDE }}
              </p>
              <div class="used-tech">
                <p>{{ project.tech }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pf-orange-shadow">
    <img src="/assets/images/shapes/orange_pf_shadow.png" />
  </div>
</section>
