@media(max-width: 1450px) {
    .aboutMeDesktop {
        display: none !important;
    }
    .aboutMeMobile {
        display: flex !important;
    }
}

.aboutMeDesktop {
    display: block;
    background-color: #141d2f;
}

.aboutMeMobile{
    display: none;
    background-color: #141d2f;
}

.scroll-behaviour {
    scroll-margin-top: 150px;
}