.social-links-content {
  display: flex;
  flex-direction: row;
  > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin-right: 50px;
    transition: all 0.1s ease;
    @media (max-width: 350px) {
      margin-right: 32px;
    }
    &:hover img {
      transform: scale(1.2);
      margin-left: 10px;
      cursor: pointer;
    }
    &:hover {
      margin-right: 70px;
      cursor: pointer;
      @media (max-width: 350px) {
        margin-right: 50px;
      }
    }
    > img {
      height: 40px;
      transition: all 0.1s ease;
      @media (max-width: 350px) {
        height: 32px;
      }
    }
  }
}
