.content-wrapper-main {
  display: flex;
  justify-content: center;
  width: 100%;
  > .content-wrapper-second {
    display: flex;
    width: 100%;
    max-width: 1920px;
    > .skills-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      color: #ffffff;
      @media (max-width: 1450px) {
        flex-direction: column-reverse;
      }
      > .code-icons {
        width: 50%;
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        @media (max-width: 1450px) {
          width: 100%;
          margin-left: 0;
          margin-top: 60px;
          margin-bottom: -40px;
        }
        @media (max-width: 420px) {
          margin-top: 20px;
        }
        > .icons-row {
          display: flex;
          flex-direction: row;
          @media (max-width: 520px) {
            margin-left: 24px;
          }
          @media (max-width: 370px) {
            margin-left: 8px;
          }
          @media (max-width: 348px) {
            margin-left: 0;
          }
          > .icon-with-text {
            width: 80px;
            height: 100px;
            margin-left: 90px;
            margin-bottom: 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all 0.3s ease;
            @media (max-width: 1450px) {
              margin-bottom: 50px;
            }
            @media (max-width: 900px) {
              margin-left: 48px;
              margin-right: 42px;
            }
            @media (max-width: 700px) {
              margin-right: 0;
            }
            @media (max-width: 520px) {
              margin-left: 0;
              margin-right: 16px;
            }
            @media (max-width: 412px) {
              margin-right: 4px;
              margin-bottom: 32px;
            }
            @media (max-width: 340px) {
              margin-right: 0;
            }
            @media (max-width: 330px) {
              width: 76px;
              height: 88px;
            }
            > img {
              margin-bottom: 12px;
              @media (max-width: 1400px) {
                height: 44px;
              }
              &:hover {
                animation: bounce 700ms;
                @keyframes bounce {
                  0%,
                  20%,
                  50%,
                  80%,
                  100% {
                    transform: translateY(0);
                  }
                  40% {
                    transform: translateY(-30px);
                  }
                  60% {
                    transform: translateY(-15px);
                  }
                }
              }
            }
            > p {
              text-align: center;
              @media (max-width: 1400px) {
                font-size: 14px;
              }
            }
          }
        }
      }

      > .skills-head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        @media (max-width: 1450px) {
          padding-left: 90px;
          align-items: normal;
        }
        @media (max-width: 900px) {
          padding-left: 48px;
        }
        @media (max-width: 520px) {
          padding-left: 24px;
        }
        > .skills-transition {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 82%;
          justify-content: space-between;
          @media (max-width: 1450px) {
            width: 100%;
          }
          > h2 {
            font-size: 100px;
            @media (max-width: 1400px) {
              font-size: 74px;
            }
            @media (max-width: 900px) {
              font-size: 64px;
            }
            @media (max-width: 600px) {
              font-size: 56px;
            }
            @media (max-width: 520px) {
              font-size: 48px;
            }
            @media (max-width: 450px) {
              font-size: 40px;
            }
          }
          > div {
            height: 5px;
            width: 315px;
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
            margin-left: 40px;
            background-color: #d61ce6;
          }
        }
        > .skills-quote {
          width: 82%;
          margin-bottom: 40px;
          margin-top: 40px;
          > p {
            margin-right: 120px;
            @media (max-width: 1400px) {
              font-size: 15px;
            }
            @media (max-width: 700px) {
              margin-right: 0;
            }
            @media (max-width: 450px) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

.skills-btn {
  text-decoration: none;
  color: #ffffff;
  margin-top: 40px;
  width: 82%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 80px;

  > button {
    background-color: #e86f00;
    color: #ffffff;
    border: 2px solid #e86f00;
    border-radius: 12px;
    height: 60px;
    width: 180px;
    font-size: 24px;
    font-family: "Poppins";
    padding: 12px;
    transition: all 0.4s ease;
    @media (max-width: 450px) {
      font-size: 20px;
    }
    @media (max-width: 350px) {
      height: 50px;
      width: 140px;
      padding: 12px;
    }
    &:hover {
      cursor: pointer;
      width: 200px;
      height: 80px;
      background-color: #ff4747;
      border-color: #ff4747;
      @media (max-width: 350px) {
        width: 160px;
        height: 60px;
      }
    }
  }
}

@media (max-width: 1450px) {
  #skillsBtn {
    display: none;
  }
  #skillsBtnMobile {
    display: flex !important;
    justify-content: center;
    margin-top: -130px;
    width: 100%;
  }
}

@media (max-width: 520px) {
  #skillsBtnMobile {
    margin-top: 24px;
  }
}
