<div class="content-wrapper-main">
  <div class="content-wrapper-second">
  <section class="skills-content fontfam-poppins">
      <div class="code-icons">
        <div class="icons-row" *ngFor="let row of skillRows">
          <div
            [attr.data-aos]="row.animation"
            class="icon-with-text"
            *ngFor="let skill of row.skills"
          >
            <img [src]="skill.icon" />
            <p>{{ skill.name }}</p>
          </div>
        </div>
        <a
          id="skillsBtnMobile"
          href="#contact"
          style="display: none"
          class="skills-btn"
        >
          <button>Get in touch</button>
        </a>
      </div>

      <div data-aos="fade-up" class="skills-head">
        <div class="skills-transition">
          <h2>Skills</h2>
          <div class="purple-transition-line"></div>
        </div>
        <div class="skills-quote">
          <p>
            {{ lService.skills["p1"] }}
          </p>
        </div>
        <a id="skillsBtn" href="#contact" class="skills-btn">
          <button>Get in touch</button>
        </a>
      </div>
  </section>
</div>
</div>
