.imprint {
  display: flex;
  justify-content: center;
  background-color: #141d2f;
  width: 100%;
  > .wrapper {
    width: 100%;
    max-width: 1680px;
    background-color: #141d2f;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    padding: 120px;
    height: 55vh;
    @media (max-width: 1450px) {
      padding: 90px;
      height: 60vh;
    }
    @media (max-width: 900px) {
      padding-left: 48px;
      padding-right: 48px;
      height: 60vh;
    }
    @media (max-width: 520px) {
      padding-left: 24px;
      padding-right: 24px;
    }
    > .heading {
      font-size: 100px;
      @media (max-width: 900px) {
        font-size: 64px;
      }
      @media (max-width: 520px) {
        font-size: 48px;
      }
      @media (max-width: 360px) {
        font-size: 40px;
      }
    }
    > .tmg-heading {
      font-size: 40px;
      font-weight: 500;
      margin-top: 40px;
      margin-bottom: 32px;
      @media (max-width: 900px) {
        font-size: 32px;
      }
      @media (max-width: 520px) {
        font-weight: 400;
      }
      @media (max-width: 360px) {
        font-size: 26px;
      }
    }
    > .address-tab {
      font-size: 24px;
      font-weight: 200;
      @media (max-width: 360px) {
        font-size: 20px;
      }
    }
    > .contact-heading {
      font-size: 40px;
      font-weight: 500;
      margin-top: 40px;
      margin-bottom: 32px;
      @media (max-width: 900px) {
        font-size: 32px;
      }
      @media (max-width: 520px) {
        font-weight: 300;
      }
      @media (max-width: 360px) {
        font-size: 26px;
      }
    }
    > .phone-mail {
      font-size: 24px;
      font-weight: 200;
      @media (max-width: 360px) {
        font-size: 20px;
      }
      > .no-style {
        text-decoration: none;
        color: #ffffff;
      }
    }
  }
}
