.welcome-content {
  display: flex;
  background-color: #141d2f;
  color: #ffffff;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  > .left-shape {
    margin-left: -280px;
    @media (max-width: 900px) {
      margin-left: -388px;
    }
    > img {
      height: 850px;
      @media (max-width: 700px) {
        height: 415px;
        position: relative;
        top: -48px;
        left: 232px;
      }
      @media (max-width: 350px) {
        height: 340px;
        top: -80px;
        left: 255px;
      }
    }
  }
  > .middle-content {
    position: absolute;
    top: 300px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    > .iam-cont {
      display: flex;
      flex-direction: row;
      rotate: -90deg;
      > p {
        font-size: 96px;
        z-index: 10;
        @media (max-width: 1400px) {
          font-size: 50px;
        }
        @media (max-width: 800px) {
          font-size: 34px;
        }
        @media (max-width: 520px) {
          font-size: 30px;
        }
        @media (max-width: 450px) {
          font-size: 22px;
          margin-bottom: -8px;
        }
        @media (max-width: 350px) {
          font-size: 18px;
        }
      }
    }
    > div {
      > .prename-cont {
        display: flex;
        flex-direction: row;
        > p {
          font-size: 120px;
          margin-bottom: -16px;
          font-weight: 700;
          @media (max-width: 1400px) {
            font-size: 74px;
          }
          @media (max-width: 800px) {
            font-size: 48px;
          }
          @media (max-width: 520px) {
            font-size: 44px;
          }
          @media (max-width: 450px) {
            font-size: 36px;
          }
          @media (max-width: 350px) {
            font-size: 32px;
          }
        }
      }
      > .frontend-cont {
        display: flex;
        flex-direction: row;
        margin-top: -8px;
        @media (max-width: 800px) {
          margin-top: -4px;
        }
        @media (max-width: 520px) {
          margin-top: 0px;
        }
        > p {
          font-size: 80px;
          font-weight: 500;
          color: #ff4747;
          @media (max-width: 1400px) {
            font-size: 46px;
          }
          @media (max-width: 800px) {
            font-size: 32px;
          }
          @media (max-width: 520px) {
            font-size: 28px;
          }
          @media (max-width: 450px) {
            font-size: 20px;
          }
          @media (max-width: 350px) {
            font-size: 16px;
          }
        }
      }
    }
  }
  > .talk-btn {
    position: absolute;
    top: 650px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @media (max-width: 1400px) {
      top: 520px;
    }
    > a {
      text-decoration: none;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 200px;
      height: 80px;
      @media (max-width: 650px) {
        justify-content: center;
      }
      > button {
        background-color: #e86f00;
        color: #ffffff;
        border: 2px solid #e86f00;
        border-radius: 12px;
        height: 60px;
        width: 160px;
        font-size: 24px;
        font-family: "Poppins";
        padding: 12px;
        transition: all 0.3s ease;
        @media (max-width: 520px) {
          font-size: 20px;
          padding: 12px;
        }
        @media (max-width: 350px) {
          height: 50px;
          width: 140px;
        }
        &:hover {
          cursor: pointer;
          width: 200px;
          height: 80px;
          background-color: #ff4747;
          border-color: #ff4747;
          @media (max-width: 350px) {
            width: 160px;
            height: 60px;
          }
        }
      }
    }
  }

  > .right-shape {
    margin-right: -390px;
    @media (max-width: 700px) {
      margin-right: -300px;
    }
    > img {
      height: 800px;
      margin-top: -280px;
      @media (max-width: 700px) {
        height: 464px;
        margin-top: 36px;
      }
      @media (max-width: 520px) {
        margin-top: 70px;
      }
      @media (max-width: 350px) {
        height: 448px;
      }
    }
  }
}
.cards-wrapper {
  background-color: #141d2f;
  display: flex;
  width: 100%;
  justify-content: center;
  > .cards-wrapped {
    width: 100%;
    max-width: 1920px;
    > .section-transition {
      display: flex;
      height: 200px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: #141d2f;
      color: #ffffff;
      > .left-transition {
        display: flex;
        flex-direction: row;
        align-items: center;
        > .orange-line {
          width: 120px;
          height: 5px;
          background-color: #e86f00;
          margin-right: 40px;
          border-top-right-radius: 12px;
          border-bottom-right-radius: 12px;
          @media (max-width: 1450px) {
            width: 90px;
          }
          @media (max-width: 900px) {
            width: 48px;
          }
          @media (max-width: 520px) {
            width: 24px;
          }
        }
        > .soc-links-cont {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
        }
      }
      > .right-transition {
        display: flex;
        flex-direction: row;
        align-items: center;
        rotate: 90deg;
        margin-top: -180px;
        margin-right: 30px;
        @media (max-width: 700px) {
          display: none;
        }
        > p {
          margin-right: 16px;
          font-size: 28px;
          @media (max-width: 1110px) {
            font-size: 24px;
          }
        }
        > img {
          rotate: 90deg;
          height: 24px;
        }
      }
    }
  }
}

.mr-16 {
  margin-right: 16px !important;
  @media (max-width: 550px) {
    margin-right: 6px !important;
  }
}

/*FullName Animation*/
.prename-cont p {
  opacity: 0;
  animation: dropInName 0.4s linear forwards;
  animation-delay: 0.6s;
}
.prename-cont p:nth-child(2) {
  animation-delay: 0.7s;
}
.prename-cont p:nth-child(3) {
  animation-delay: 0.8s;
}
.prename-cont p:nth-child(4) {
  animation-delay: 0.9s;
}
.prename-cont p:nth-child(5) {
  animation-delay: 1s;
}
.prename-cont p:nth-child(6) {
  animation-delay: 1.1s;
}
.prename-cont p:nth-child(7) {
  animation-delay: 1.2s;
}
.prename-cont p:nth-child(8) {
  animation-delay: 1.3s;
}
.prename-cont p:nth-child(9) {
  animation-delay: 1.4s;
}
.prename-cont p:nth-child(10) {
  animation-delay: 1.5s;
}
.prename-cont p:nth-child(11) {
  animation-delay: 1.6s;
}
.prename-cont p:nth-child(12) {
  animation-delay: 1.7s;
}
.prename-cont p:nth-child(13) {
  animation-delay: 1.8s;
}
.prename-cont p:nth-child(14) {
  animation-delay: 1.9s;
}
@keyframes dropInName {
  0% {
    transform: translateY(150px) scaleY(0.9s);
  }
  5% {
    opacity: 0.7s;
  }
  50% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
  65% {
    transform: translateY(17px) scaleY(0.9);
  }
  75% {
    transform: translateY(22px) scaleY(0.9);
  }
  100% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}

/*I'am Animation*/

.iam-cont p {
  opacity: 0;
  animation: dropInIam 0.4s linear forwards;
}
.iam-cont p:nth-child(2) {
  animation-delay: 0.2s;
}
.iam-cont p:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes dropInIam {
  0% {
    transform: translateY(150px) scaleY(0.9s);
  }
  5% {
    opacity: 0.7s;
  }
  50% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
  65% {
    transform: translateY(17px) scaleY(0.9);
  }
  75% {
    transform: translateY(22px) scaleY(0.9);
  }
  100% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}

/*Frontend Animation*/

.frontend-cont p {
  opacity: 0;
  animation: dropInFrontend 0.4s linear forwards;
}
.frontend-cont p:nth-child(17) {
  animation-delay: 1.9s;
}
.frontend-cont p:nth-child(16) {
  animation-delay: 2s;
}
.frontend-cont p:nth-child(15) {
  animation-delay: 2.1s;
}
.frontend-cont p:nth-child(14) {
  animation-delay: 2.2s;
}
.frontend-cont p:nth-child(13) {
  animation-delay: 2.3s;
}
.frontend-cont p:nth-child(12) {
  animation-delay: 2.4s;
}
.frontend-cont p:nth-child(11) {
  animation-delay: 2.5s;
}
.frontend-cont p:nth-child(10) {
  animation-delay: 2.6s;
}
.frontend-cont p:nth-child(9) {
  animation-delay: 2.7s;
}
.frontend-cont p:nth-child(8) {
  animation-delay: 2.8s;
}
.frontend-cont p:nth-child(7) {
  animation-delay: 2.9s;
}
.frontend-cont p:nth-child(6) {
  animation-delay: 3s;
}
.frontend-cont p:nth-child(5) {
  animation-delay: 3.1s;
}
.frontend-cont p:nth-child(4) {
  animation-delay: 3.2s;
}
.frontend-cont p:nth-child(3) {
  animation-delay: 3.3s;
}
.frontend-cont p:nth-child(2) {
  animation-delay: 3.4s;
}
.frontend-cont p:nth-child(1) {
  animation-delay: 3.5s;
}

@keyframes dropInFrontend {
  0% {
    transform: translateY(-150px) scaleY(0.9s);
  }
  5% {
    opacity: 0.7s;
  }
  50% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
  65% {
    transform: translateY(-17px) scaleY(0.9);
  }
  75% {
    transform: translateY(-22px) scaleY(0.9);
  }
  100% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}
